{% extends "./base.html" %}

{% block body %}
<h1>listado de articulos</h1>
  <ul>
    {%for a in articulo %}
      <li>{{a}}</li>
    {% endfor %}
  </ul>
  <h2>registro de articulos</h2>
  <form action="/registrarArticulo/" method="post"> {% csrf_token %}
    <div class="form-group">
      <input type="text" id="textdescripcion" name="textdescripcion" placeholder="descripcion" maxlength="30">
    </div>
    <div>
      <input type="text" id="numprecio", name="numprecio", placeholder="precio">
    </div>
    <div class="">
      <button type="submit" class="btn btn-success">Guadar</button>
    </div>
  </form>

{% endblock %}